<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="Teachers.TeacherTopics"></activity>
        <activity android:name="Teachers.TeacherAddReview" />
        <activity android:name="Teachers.TeacherReview" />
        <activity android:name="Teachers.NewsAdd" />
        <activity android:name="Teachers.TeacherNews" />
        <activity android:name="Teachers.NewsView" />
        <activity android:name="Students.NewsFeeds" />
        <activity android:name=".TeacherLogin" />
        <activity android:name=".LoginType" />
        <activity android:name=".MainActivity" />
        <activity android:name="Students.AddFeedback" />
        <activity android:name="Students.Reviews" />
        <activity android:name="Teachers.TeachQuizAdd" />
        <activity android:name="Teachers.TeacherQuiz" />
        <activity android:name="Teachers.TeacherSubjects" />
        <activity android:name="Teachers.TeacherMenu" />
        <activity android:name="Students.QuestionCate" />
        <activity android:name="Students.SubjectCate" />
        <activity android:name="Students.QuizScore" />
        <activity android:name="Students.QuestionShow" />
        <activity android:name="Students.MainMenu" />
        <activity android:name=".TeacherSignUp" />
        <activity android:name=".StudentSignUp" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".RegisterType" />
 	    <activity android:name="Teachers.UpdateNews"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>